<h1>Listing sign_ups</h1>

<table>
  <tr>
  </tr>

<% @sign_ups.each do |sign_up| %>
  <tr>
    <td><%= link_to 'Show', raid_sign_up_path(@raid.id, sign_up) %></td>
    <td><%= link_to 'Edit', edit_raid_sign_up_path(@raid, sign_up) %></td>
    <td><%= link_to 'Destroy', raid_sign_up_path(@raid, sign_up), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sign_up', new_raid_sign_up_path(@raid) %>